/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

/* Tailwind Admin Custom Style */
.main-nav {
    @apply flex items-center .justify-between flex-wrap .bg-grey-darkest .p-4 .pin; 
}

.main-logo {
    @apply block flex items-center flex-no-shrink text-white;
}

.menu-item {
    @apply no-underline block p-4 text-grey-darker;
}

/* Custom */
.table {
    width: 100%;
    text-align: left;

    td, th {
        padding: .75rem;
    }

    thead {
        border-top: 1px solid #dae1e7;
        border-bottom: 1px solid #dae1e7;
    }

    tr {
        border-bottom: 1px solid #dae1e7;
    }
}

.login {
    background: url('https://res.cloudinary.com/tesseract/image/upload/v1539422893/erp-time-tracking/login.jpg');
}